<!DOCTYPE html>
<html>
<head>
	<title>Cleverstudia</title>

	<link rel="stylesheet" type="text/css"" href="css/clever.css">
	

</head>
<body>

    <div class="navbar-component">
		<div class="navbar area">
			<a href="/" class="brand">Brand</a>
			<nav role="navigation" id="navigation" class="list">
				<a href="/profile" class="item -link">Расписание</a>
				<a href="#" class="item -link" onclick="console.log('FUCK');">Услуги</a>
				<a href="#" class="item -link">Магазин</a>
				<a href="#" class="item -link">FAQ</a>
				<a href="#" class="item -link">О нас</a>
				<span class="item">
					<i class="fa fa-search"></i>
				</span>
			</nav>
	        <button data-collapse data-target="#navigation" class="toggle">
	        	<span class="icon"></span>
	        </button>
        </div>
    </div>

    <div class="banner">
    	<div class="banner--filter">
    		<div class="banner--filter__text">
    			<div class="banner--filter__text-wrapper">
    				<span>картина за 2 часа</span>
    			</div>
    			<div class="
    			banner--filter__text-wrapper bottom--word">
    				<span style="font-size: 14px;">записаться на мастер класс</span>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="icon--list">
    	<h1>Почему мы?</h1>
	    <div class="icon--list__">
	    	<div class="first">
	    		<img src="/icons/ok.png" width="100" height="100"> 
	    		<span>Все включено</span>
	    	</div>
	    	<div class="second">
	    		<img src="/icons/metro.png" width="100" height="100"> 
	    		<span>Близко от метро Петроградская</span>
	    	</div>
	    	<div class="third">
	    		<img src="/icons/rocks.png" width="100" height="100"> 
	    		<span>Картина на любой вкус</span>
	    	</div>
	    	<div class="four">
	    		<img src="/icons/hous.png" width="100" height="100"> 
	    		<span>Уютная студия</span>
	    	</div>
	    </div>
	</div>

	<div class="new--rewievs">	
		<div class="new--rewievs__flex">
			<div class="new--rewievs__flex-box">
				<p>МАСЛЯНАЯ ЖИВОПИСЬ – ОДНА ИЗ САМЫХ НЕВЕРОЯТНО ПРЕКРАСНЫХ ФОРМ ТВОРЧЕСТВА. ПОЛОТНА, НАПИСАННЫЕ МАСЛОМ, ОТЛИЧАЮТСЯ ОБЪЕМОМ И ВЫРАЗИТЕЛЬНОСТЬЮ, ВСПОМНИТЕ РАБОТЫ ВАН ГОГА, МОНЕ, ГОГЕНА И РЕНУАРА. ВСЕ ОНИ НЕОБЫЧАЙНО ЛЕГКИ И В ТО ЖЕ ВРЕМЯ МОНУМЕНТАЛЬНЫ, ТАКОЕ ОЩУЩЕНИЕ СОЗДАЕТСЯ ИЗ-ЗА ОСОБЕННОСТИ ТЕХНИКИ, МАСЛО – ЖИВОЙ ИНСТРУМЕНТ В РУКАХ ХУДОЖНИКА, С ПОМОЩЬЮ НЕГО МАЗОК ЗА МАЗКОМ НА ХОЛСТЕ СОЗДАЕТСЯ НАСТОЯЩАЯ ЖИЗНЬ.</p>
				<p>ДУМАЕТЕ, ЧТОБЫ НАПИСАТЬ КАРТИНУ МАСЛОМ НЕОБХОДИМО БОЛЬШОЕ КОЛИЧЕСТВО ВРЕМЕНИ? – ВОВСЕ НЕ ОБЯЗАТЕЛЬНО!</p>
				<p>В CLEVERSTUDIA ПРИДУМАЛИ ИНТЕНСИВНЫЙ МАСТЕР-КЛАСС, НА КОТОРОМ ВЫ ЗА 1 ЗАНЯТИЕ СОЗДАДИТЕ СВОЮ ПЕРВУЮ КАРТИНУ. А ЕЩЕ ВЫ ВОЗЬМЕТЕ В РУКИ КИСТЬ И ПАЛИТРУ, ВЫБЕРЕТЕ КАРТИНУ, КОТОРАЯ ВАМ ПО ДУШЕ И НА ВРЕМЯ МАСТЕР-КЛАССА ОТБРОСИТЕ СУЕТУ ВНЕШНЕГО МИРА, ОКУНЕТЕСЬ В ВОЛШЕБНЫЙ МИР МАСЛЯНЫХ КРАСОК, ОСТАВИВ ПРОБЛЕМЫ ЗА ПРЕДЕЛАМИ ХОЛСТА.</p>

			</div>
		</div>
	</div>

	<div class="stage">
		<h1>Как проходит мастер класс?</h1>
		<div class="stage--first">
			<div class="stage--text">
			</div>
			<img src="/img/stage-1.png" width="381" height="282">
		</div>

		<div class="stage--second">
			<img src="/img/stage-2.png" width="381" height="282" style="margin-right: 60PX; ">
			<div class="stage--text">
			</div>
		</div>

		<div class="stage--third">
			<div class="stage--text">
			</div>
			<img src="/img/stage-3.png" width="381" height="282">
		</div>

		<div class="stage--fourd">
			<img src="/img/stage-4.png" width="381" height="282" style="margin-right: 60PX; ">
			<div class="stage--text">
			</div>
		</div>
	</div>

	<div class="price--list">
		<h1>О стоимости</h1>
		<div class="price--list__wrapper">
			<div class="price--list__left-block">
				<h3>Свободная тема</h3>
					<p>20х30 см - 1500 ₽</p>
					<p>30х30 см - 1900 ₽</p>
					<p>30х40 см - 2350 ₽</p>
					<p>40х40 см - 2600 ₽</p>
					<p>40х50 см - 2900 ₽</p>
					<p>50х50 см - 3500 ₽</p>
					<p>50х70 см - 4200 ₽</p>
					<p>60х80 см - 5900 ₽</p>
				</ul>
			</div>
			<div class="price--list__right-block">
				<h3>Тематический мастер класс</h3>
					<p>20х30 см - 990 ₽</p>
					<p>30х30 см - 1350 ₽</p>
					<p>30х40 см - 1650 ₽</p>
					<p>40х40 см - 1800 ₽</p>
					<p>40х50 см - 1950 ₽</p>
					<p>50х50 см - 2400 ₽</p>
					<p>50х70 см - 2900 ₽</p>
					<p>60х80 см - 4150 ₽</p>
				</ul>
			</div>
		</div>
	</div>

	<div class="little--banner">
		<div class="pattern--banner">
			<h3>СКИДКА 30 % НА ТЕМАТИЧЕСКИЕ МАСТЕР-КЛАССЫ</h3>
		</div>
	</div>

	<div class='wrapper--center'>	
		<div class="wrapper">
			<% data.hobbies.forEach(function(item){ %>	
			<div class="contaiter">		
				<div class="img--temp">
					<div class="icon">    
	        		</div>
				</div>	
				<div class="contaiter__header"><%= item %></div>
				<div class="contaiter__data">
				<% data.master.forEach(function(item1){ %>
					<span ><%= item1 %></span>
				<%})%>
				<span >16 мест</span>
				</div>
			</div>
			<%})%>
		</div>
		<button class="need--more">Еще больше работ тематических дней</button>
	</div>

	<div class="wrapper">
		<div class="wrapper--box_price">
			<p>20х30 см - 990 ₽ (1500₽)</p>
			<p>30х30 см - 1350 ₽ (1900₽)</p>
			<p>30х40 см - 1650 ₽ (2350₽)</p>
			<p>40х40 см - 1800 ₽(2600₽)</p>
			<p>40х50 см - 1950 ₽ (2900₽)</p>
			<p>50х50 см - 2400 ₽(3500₽)</p>
			<p>50х70 см - 2900 ₽ </p>
			<p>60х80 см - 4150 ₽</p>
		</div>
	</div>


	
	<div class="new--rewievs" style="margin-top: 50px;">
		<div class="new--rewievs__flex">
			<div class="wrapper">
			  <div class="flex-container-reviews">
			    <div class="flex-wrapper-reviews" >
			      <img class = 'temp-ava'>
			    </div>
			    <div class="flex-wrapper-reviews">
			      <p>Хочу сказать огромное спасибо Виктории Самсоновой за курс по иллюстрации)я получила второе дыхание творческого вдохновения,каждое занятие сопровождалось интересными беседами о творчестве,своих подходах ... Искреннее спасибо за возможность предаться саморазвитию, открыть в себе новые возможности, не бояться делать что то новое и увлекательное 
			      </p> 
			      <span>
			        Вероника Щелкунова
			      </span>
			    </div>    
			  </div>

			  <div class="flex-container-reviews ">
			    <div class="flex-wrapper-reviews" >
			      <img class = 'temp-ava'>
			    </div>
			    <div class="flex-wrapper-reviews">
			      <p>Хочу сказать огромное спасибо Виктории Самсоновой за курс по иллюстрации)я получила второе дыхание творческого вдохновения,каждое занятие сопровождалось интересными беседами о творчестве,своих подходах ... Искреннее спасибо за возможность предаться саморазвитию, открыть в себе новые возможности, не бояться делать что то новое и увлекательное  
			      </p>
			      <span>
			        Вероника Щелкунова
			      </span>
			    </div>    
			  </div>
			</div>
		</div>
	</div>
	
	<div class="wrapper--center">
		<div style="background-color: #EFF5EE;"></div>
	</div>
	
	<div class='wrapper--center'>
		<h1>Галлерея</h1>
		<div class="wrapper">	
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
		</div>
		<button class="mess--button">Еще больше работ наших студентов</button>
	</div>

	<div class="message">	
		<div class="message--pattern">
			<div class="block">
			    <p>
			    Подпишитесь на наши обновления: много интересного и скидка 10% все подписавшимся
			    </p>
			    <div style="background-color: #fff; width: 900px;justify-content: flex-end; display: flex; padding-right: 10px;border-radius: 15px; min-height: 50px;">
			    	<input type='mail' placeholder = 'Введите вашу почту' >
			    </div>
			    <input type='submit' value ='Подписаться'>
			    <span class="triangle" ></span>
			</div>
		</div>
	</div>




</body>
</html>