<!DOCTYPE html>
<html>

<head>
    <title>Cleverstudia</title>
    <link rel="stylesheet" type="text/css" " href="css/clever.css ">
	<meta name="viewport " content="width=device-width, initial-scale=1.0 ">
	

</head>
<body>

    <div class="navbar-component ">
		<div class="navbar ">
			<a href="/ " class="brand ">Brand</a>
			<nav role="navigation " id="navigation " class="list ">
				<a href="/profile " class="item -link ">Расписание</a>
				<a href="# " class="item -link " onclick="console.log( 'FUCK'); ">Услуги</a>
				<a href="/art " class="item -link ">Живопись</a>
				<a href="# " class="item -link ">FAQ</a>
				<a href="# " class="item -link ">О нас</a>
				<a href="# " class="item -link ">+7 (812) 443-85-12</a>
			</nav>
	        <button data-collapse data-target="#navigation " class="toggle ">
	        	<span class="icon "></span>
	        </button>
        </div>
    </div>

    <div class="banner">
    	
	    	<div class="wrapper-but landung--button">
				<button id='swither' class="button--link">Графический дизайн</button>
				<button id='swither' class="button--link">Каллиграфия</button>
				<button id='swither' class="button--link">Леттеринг</button>
			</div>	
		
    </div>

    <div class='wrapper--center'>
		<h1>БЛИЖАЙШИЕ КУРСЫ И МАСТЕР-КЛАССЫ</h1>
		<div class="wrapper-but ">
			<button id='swither'>курсы</button>
			<button id='swither'> мастер-класс</button>
		</div>	
	</div>
	<div class='container-c'>
		<div class="first-block-c ">
			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/1.jpg " style="position: absolute; ">
					<div class="card--holding__icon-baby ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Детские занятия 7-12 лет</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">	
							<div class="card-img card--icon__calendar "></div>
							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
							<div class="card-img card--icon__smiley "></div>
							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 

			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/2.jpg " style="position: absolute; ">
					<div class="card--holding__icon-babybig ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Детские занятия 4-6 лет</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">
						<div class="card-img card--icon__calendar "></div>
							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
						<div class="card-img card--icon__smiley "></div>
							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 

			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/3.png " style="position: absolute; " >
					<div class="card--holding__icon-tassel ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Живопись маслом</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">
						<div class="card-img card--icon__calendar "></div>
							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
						<div class="card-img card--icon__smiley "></div>
							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 
		</div> 
		<div class="first-block-c ">
			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/44.png " style="position: absolute; ">
					<div class="card--holding__icon-pen ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Интерьерный скетчинг</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">
						<div class="card-img card--icon__calendar "></div>
							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
						<div class="card-img card--icon__smiley "></div>
							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 

			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/5.jpg " style="position: absolute; ">
					<div class="card--holding__icon-marker ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Фэшн иллюстрация</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">
						<div class="card-img card--icon__calendar "></div>
							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
						<div class="card-img card--icon__smiley "></div>
							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 

			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/6.jpg " style="position: absolute; " >
					<div class="card--holding__icon-marker ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Графический дизайн</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">
						<div class="card-img card--icon__calendar "></div>
							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
						<div class="card-img card--icon__smiley "></div>
							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 
		</div> 
		<div class="first-block-c ">
			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/7.jpg " style="position: absolute; ">
					<div class="card--holding__icon-pen ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Базовый курс рисунка</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">
						<div class="card-img card--icon__calendar "></div>
							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
						<div class="card-img card--icon__smiley "></div>
							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 

			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/8.png " style="position: absolute; ">
					<div class="card--holding__icon-marker ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Компьютерная иллюстрация</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">
						<div class="card-img card--icon__calendar "></div>
							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
						<div class="card-img card--icon__smiley "></div>
							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 

			<div class="card-c ">
				<div class="card--holding-c ">
					<img src="/img/3.png " width='352' height='556'style="position: absolute; " >
					<div class="card--holding__icon-pen ">
					</div>
				</div>

				<div class="card--data-c ">
					<p class="card--data__child-c ">Основы каллиграфии</p>
					<div class="card--data__info-c ">
						<div class="card--data__info-left-c ">
						<div class="card-img card--icon__calendar "></div>

							<p>
								21.08.17
						    </p>
						</div>
						<div class="card--data__info-right-c ">
							<div class="card-img card--icon__smiley "></div>

							<p>
								16 мест	
						    </p>
						</div>
					</div>
				</div>
			</div> 
		</div> 	

	</div>

	<div style=" display:flex;align-items: center; justify-content: center; flex-direction: column; ">
		<button class="need--more " style="display: flex; margin-top: 20px;flex-wrap: column; ">Больше курсов</button>
	</div>

	<div style=" display:flex;align-items: center; justify-content: center; flex-direction: column; ">
		<h1  style="display: flex; margin-top: 30px;flex-wrap: column; ">Впечатления наших учеников</h1>
	</div>

	<div class="new--rewievs " style="margin-top: 20px; ">
		<div class="new--rewievs__flex ">
			<div class="wrapper ">
			  <div class="flex-container-reviews " style="margin-top: -2px; ">
			    <div class="flex-wrapper-reviews " >
			      <img class = 'temp-ava' src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/reviews/2.jpg ">
			    </div>
			    <div class="flex-wrapper-reviews ">
			      <p>Хочу сказать огромное спасибо Виктории Самсоновой за курс по иллюстрации)я получила второе дыхание творческого вдохновения,каждое занятие сопровождалось интересными беседами о творчестве,своих подходах ... Искреннее спасибо за возможность предаться саморазвитию, открыть в себе новые возможности, не бояться делать что то новое и увлекательное 
			      </p> 
			      <span>
			        Вероника Щелкунова
			      </span>
			    </div>    
			  </div>

			  <div class="flex-container-reviews ">
			    <div class="flex-wrapper-reviews " >
			      <img class = 'temp-ava' src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/reviews/1.jpg ">
			    </div>
			    <div class="flex-wrapper-reviews ">
			      <p>Хочу сказать огромное спасибо Виктории Самсоновой за курс по иллюстрации)я получила второе дыхание творческого вдохновения,каждое занятие сопровождалось интересными беседами о творчестве,своих подходах ... Искреннее спасибо за возможность предаться саморазвитию, открыть в себе новые возможности, не бояться делать что то новое и увлекательное  
			      </p>
			      <span>
			        Вероника Щелкунова
			      </span>
			    </div>    
			  </div>
			</div>

		</div>
	</div>
	
	<div style=" display:flex;align-items: center; justify-content: center; flex-direction: column; ">
		<button class="need--more " style="display: flex; margin: 50px;margin-bottom: 30px;flex-wrap: column; ">Расскажите нам о своих впечатлениях</button>
	</div>

	<div style=" display:flex;align-items: center; justify-content: center; flex-direction: column; ">
		<h1 style="margin-top: 0px; margin-bottom: 50px; ">Наша команда</h1>
	</div>

    <div style="background-image: url(/img/team.jpg); background-position: center; background-repeat: no-repeat; height: 700px; width: auto; ">
    	
    </div>
	<div style=" display:flex;align-items: center; justify-content: center; flex-direction: column; ">
		<button class="need--more " style="display: flex; margin: 50px; margin-bottom:30px;flex-wrap: column; ">Давайте знакомиться</button>
		<h1 style="margin-bottom: 30px; margin-top: 0px; ">Галерея</h1>
	</div>	  
	

	<div class='wrapper--center'>
		
		<div class="wrapper ">	
			<div class="contaiter photos--block " >		
				<img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/gal-home/gal-4.jpg " >
			</div>
			<div class="contaiter photos--block " >	
				<img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/gal-home/min/gal-5-min.jpg " >	
			</div>
			<div class="contaiter photos--block " >
				<img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/gal-home/gal-6.jpg " >		
			</div>
			<div class="contaiter photos--block " >
				<img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/gal-home/gal-7.jpg " >		
			</div>
			<div class="contaiter photos--block " >	
				<img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/gal-home/gal-1.jpg " >	
			</div>
			<div class="contaiter photos--block " >
				<img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/gal-home/gal-2.jpg " >		
			</div>
		</div>
		<button class="mess--button " style="margin-bottom: 25px;margin-top: 50px; ">Еще больше работ наших студентов</button>
		 <h1 style="margin-top: 25px; ">Наши друзья</h1>
	</div>

    <div class="wrapper--center ">
        <div class="wrapper ">  
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank ">
                	<img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners/14.png " alt = 'intromedia'>
                </a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="/img/logo--wake_up.jpg" class="logo--wake" alt = 'wakeUpDay'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/2.jpg " alt = 'russianGarden'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/12.png " alt = 'maryJane'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/18.jpg " width="250 " height="200 " alt = 'nevaBlog'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/16.gif " width='200' height='200' alt = 'workPlace'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="/img/logo--philip.svg" width="250 " height="200 " 
                alt = 'philipMorris'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="/img/logo--geek.png " alt = 'geekPicnic' class="logo--geek"></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/3.png " alt = 'foodPathy'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank ">
                <img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/14.jpg " alt = 'luxor'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/19.jpg " alt = 'artKvartal'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/11.png " alt = 'taxi'></a>
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/17.gif " width='200' height='40' alt = 'workPlace'></a>
            </div>
            
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="/img/logo--beeline.png" class='logo--beeline' alt = 'beeLine'></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="/img/logo--electra.png" alt = 'electra' class="logo--electra"></a>
            </div>
            <div class="uk-width-1-5 ">
            	<a href="/partners " target="_blank "><img src="/img/logo--huidai.png" class="logo--hyundau" ></a>
            </div>
            <div class="uk-width-1-5 ">
                <a href="/partners " target="_blank "><img src="http://cleverstudia.ru/wp-content/themes/cleverstudia/img/partners-logo/4.png " alt = 'gogolShop' width="200 " height="200 " style="margin-top: 30px; "></a>
            </div>
        </div>
    </div>



	<div class="message ">	
		<div class="message--pattern ">
			<div class="block ">
			    <p style="font-family: OpenSans-Regular, 'Open Sans', regular; ">
			    Подпишитесь на наши обновления: много интересного и скидка 10% все подписавшимся
			    </p>
			    <div style="background-color: #fff; width: 900px;justify-content: flex-end; display: flex; padding-right: 10px;border-radius: 15px; min-height: 50px; ">
			    	<input type='mail' placeholder = 'Введите вашу почту' >
			    </div>
			    <input type='submit' value ='Подписаться'>
			    <span class="triangle " ></span>
			</div>
		</div>
	</div>


	<div class="stage " style="margin: 40px !important; ">
		<div class="stage--first ">
			<div class="stage--text contact--map ">
			</div>
			<div class="stage--text conntacts--panel">
				<h2>Школа CLEVERSTUDIA</h2>
			    <p><span>Адрес:</span> м.Петроградская ул.Профессора Попова 23 литер «Л»</p>
				<p><span>Тел.:</span> +7 (812) 443-85-12</p>
				<p><span>Email:</span> cleverstudia@gmail.com</p>
				<div class="contact--icons">
					<div class="vk-img footer--icon__vk" style="margin-left: 0px;margin-right: 5px;"></div>
					<div class="temp-img footer--icon__inst" style="margin-left: 0px;"></div>
				</div>
				<a>Заказать звонок</a>
			</div>

		</div>
		</div>



	<div class="footer-component ">
		<div class="footer ">
			<div class="footer-left ">
				<div class="temp-img footer--icon__map "></div>
				<span class="footer-item ">Профессора Попова</span>
				<div class="temp-img footer--icon__phone "></div>
				<span class="footer-item ">+7(812)308-51-81</span>
			</div>
			<div class="footer-right ">
			<!--
				<div class="footer-input ">
					<input type="mail " name="validateMail " class=" ">
					<input type="submit " name="validation " value="OK ">
				</div>-->
				<a href="https://vk.com/cleverstudia "><div class="vk-img footer--icon__vk "></div></a>
				<a href="https://www.instagram.com/cleverstudia/ "><div class="temp-img footer--icon__inst "></div></a>
				<span class="footer-item ">© CLEVERSTUDIA 2016 все права защищены</span>
			</div>
			
		</div>
	</div>


</body>


<script type="text/javascript ">

(function() {
  var getTriggerElement = function(el) {
    var isCollapse = el.getAttribute('data-collapse');
    if (isCollapse !== null) {
      return el;
    } //else {
      //var isParentCollapse = el.parentNode.getAttribute('data-collapse');
      console.log(isParentCollapse)
      //return (isParentCollapse !== null) ? el.parentNode : undefined;
    //} console.log(isParentCollapse)
  };

  // A handler for click on toggle button
  var collapseClickHandler = function(event) {
  	var triggerEl = getTriggerElement(event.target);
    // If trigger element does not exist
    if (triggerEl === undefined) {
      event.preventDefault();
      return false;
    }
    // If the target element exists
    var targetEl = document.querySelector(triggerEl.getAttribute('data-target'));
    console.log(targetEl)
    if (targetEl) {
      //triggerEl.classList.toggle('-active');
      targetEl.classList.toggle('-on');
    }
  };
  // Delegated event
  document.addEventListener('click', collapseClickHandler, false);
})(document, window);



</script>
</html>