<!DOCTYPE html>
<html>
<head>
	<title>Cleverstudia</title>

	<link rel="stylesheet" type="text/css"" href="css/clever.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

</head>
<body>

    <div class="navbar-component">
		<div class="navbar area">
			<a href="/" class="brand">Brand</a>
			<nav role="navigation" id="navigation" class="list">
				<a href="/profile" class="item -link">Расписание</a>
				<a href="#" class="item -link" onclick="console.log('FUCK');">Услуги</a>
				<a href="/art" class="item -link">Живопись</a>
				<a href="#" class="item -link">FAQ</a>
				<a href="#" class="item -link">О нас</a>
				<a href="#" class="item -link">+7 (812) 443-85-12</a>
				<span class="item">
					<i class="fa fa-search"></i>
				</span>
			</nav>
	        <button data-collapse data-target="#navigation" class="toggle">
	        	<span class="icon"></span>
	        </button>
        </div>
    </div>

    <div class="banner"></div>

    <div class='wrapper--center'>
		<h1>БЛИЖАЙШИЕ КУРСЫ И МАСТЕР-КЛАССЫ</h1>
		<p><button id='swither'>курсы</button>
		<button id='swither'> мастер-класс</button></p>
		<div class="wrapper">
			<% data.hobbies.forEach(function(item){ %>	
			<div class="contaiter">		
				<div class="img--temp">
					<div class="icon">    
	        		</div>
				</div>	
				<div class="contaiter__header"><%= item %></div>
				<div class="contaiter__data">
				<% data.master.forEach(function(item1){ %>
					<span ><%= item1 %></span>
				<%})%>
				<span >16 мест</span>
				</div>
			</div>
			<%})%>
		</div>	
	</div>

	<div style="    display:flex;align-items: center;
	    justify-content: center;
	    flex-direction: column;">
		<button class="need--more" style="display: flex; margin-top: 20px;flex-wrap: column; ">Больше курсов</button>
	</div>

	<div style="    display:flex;align-items: center;
	    justify-content: center;
	    flex-direction: column;">
		<h1  style="display: flex; margin-top: 50px;flex-wrap: column; ">Впечатления наших учеников</h1>
	</div>

	<div class="new--rewievs" style="margin-top: 50px;">
		<div class="new--rewievs__flex">
			<div class="wrapper">
			  <div class="flex-container-reviews">
			    <div class="flex-wrapper-reviews" >
			      <img class = 'temp-ava'>
			    </div>
			    <div class="flex-wrapper-reviews">
			      <p>Хочу сказать огромное спасибо Виктории Самсоновой за курс по иллюстрации)я получила второе дыхание творческого вдохновения,каждое занятие сопровождалось интересными беседами о творчестве,своих подходах ... Искреннее спасибо за возможность предаться саморазвитию, открыть в себе новые возможности, не бояться делать что то новое и увлекательное 
			      </p> 
			      <span>
			        Вероника Щелкунова
			      </span>
			    </div>    
			  </div>

			  <div class="flex-container-reviews ">
			    <div class="flex-wrapper-reviews" >
			      <img class = 'temp-ava'>
			    </div>
			    <div class="flex-wrapper-reviews">
			      <p>Хочу сказать огромное спасибо Виктории Самсоновой за курс по иллюстрации)я получила второе дыхание творческого вдохновения,каждое занятие сопровождалось интересными беседами о творчестве,своих подходах ... Искреннее спасибо за возможность предаться саморазвитию, открыть в себе новые возможности, не бояться делать что то новое и увлекательное  
			      </p>
			      <span>
			        Вероника Щелкунова
			      </span>
			    </div>    
			  </div>
			</div>

		</div>
	</div>
	
	<div style="    display:flex;align-items: center;
	    justify-content: center;
	    flex-direction: column;">
		<button class="need--more" style="display: flex; margin: 50px;flex-wrap: column; ">Расскажите нам о своих впечатлениях</button>
	</div>

	<div style="    display:flex;align-items: center;
	    justify-content: center;
	    flex-direction: column;">
		<h2>Наша команда</h2>
	</div>

    <div style="background-image: url(/img/team.jpg);  background-position: center; background-repeat: no-repeat; height: 700px; width: auto;">
    	
    </div>
	<div style="    display:flex;align-items: center;
	    justify-content: center;
	    flex-direction: column;">
		<button class="need--more" style="display: flex; margin: 50px;flex-wrap: column; ">Давайте знакомиться</button>
	</div>	  
	

	<div class='wrapper--center'>
		<h1 style="margin-bottom: 50px;">Галлерея</h1>
		<div class="wrapper">	
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
			<div class="contaiter" style="height: 281px;width: 281px;">		
			</div>
		</div>
		<button class="mess--button" style="margin-bottom: 50px;">Еще больше работ наших студентов</button>
	</div>



	<div class="message">	
		<div class="message--pattern">
			<div class="block">
			    <p style="font-family: OpenSans-Regular, 'Open Sans', regular;">
			    Подпишитесь на наши обновления: много интересного и скидка 10% все подписавшимся
			    </p>
			    <div style="background-color: #fff; width: 900px;justify-content: flex-end; display: flex; padding-right: 10px;border-radius: 15px; min-height: 50px;">
			    	<input type='mail' placeholder = 'Введите вашу почту' >
			    </div>
			    <input type='submit' value ='Подписаться'>
			    <span class="triangle" ></span>
			</div>
		</div>
	</div>









	<div class="footer-component">
		<div class="footer ">
			<div class="footer-left">
				<img class="temp-img">
				<span class="footer-item">Профессора Попова</span>
				<img class="temp-img">
				<span class="footer-item">+7(812)308-51-81</span>
			</div>
			<div class="footer-input">
				<input type="mail" name="validateMail" class="">
				<input type="submit" name="validation" value="OK">
			</div>
			<img class="temp-img">
			<img class="temp-img">		
			<span class="footer-item">© CLEVERSTUDIA 2016 все права защищены</span>
		</div>
	</div>


</body>


<script type="text/javascript">

(function() {
  var getTriggerElement = function(el) {
    var isCollapse = el.getAttribute('data-collapse');
    if (isCollapse !== null) {
      return el;
    } //else {
      //var isParentCollapse = el.parentNode.getAttribute('data-collapse');
      console.log(isParentCollapse)
      //return (isParentCollapse !== null) ? el.parentNode : undefined;
    //} console.log(isParentCollapse)
  };

  // A handler for click on toggle button
  var collapseClickHandler = function(event) {
  	var triggerEl = getTriggerElement(event.target);
    // If trigger element does not exist
    if (triggerEl === undefined) {
      event.preventDefault();
      return false;
    }
    // If the target element exists
    var targetEl = document.querySelector(triggerEl.getAttribute('data-target'));
    console.log(targetEl)
    if (targetEl) {
      //triggerEl.classList.toggle('-active');
      targetEl.classList.toggle('-on');
    }
  };
  // Delegated event
  document.addEventListener('click', collapseClickHandler, false);
})(document, window);



</script>
</html>