<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name='theme-color' content="#B28A24">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <a class="name" href="https:/www.vk.com/vengerov1">
            </div>Vengerov Dmitr!j</a>
    </header>
    <div class="wrapper">
        <p>You will find a website better... or not... who cares?</p>
        <a href="/cleverstudia">My Work!</a>
        <div class='logo-brand'></div>
        <button data-collapse data-target="#modal" class="button-master">About me</button>
        <hr>
        <div id="modal" class="modal" role='modal'>
            <div class="modal__inner">
                <p>My name is Dmitrij and iam a developer from Saint-Petersburg</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src='/js/app.js'></script>

</html>