<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
  <style type="text/css">
  	
  	body {
  		overflow: auto;
  		padding: 0px;
  		background: white !important;
  	}

  	.wrapper {
  		display: flex;
  		flex-wrap: wrap;
  		justify-content: center;
  		padding: 20px;
  	}
  	.contaiter {
  		margin: 40px;
  		width: 278px;
  		
  		border-radius: 20px;
  		background-color: #E9F5F1;
  		color: #393B3B;

  	}

  	.img-temp {
  		height: 200px;
  		background-color: pink;
  		margin-bottom: 1em;
  		width: 278px;
  		display: flex;
  		align-items: center;	
  		justify-content: center;
  	}

  	.icon {
  		width: 120px;
  		height: 120px;
  		border-radius: 100px;
  		margin: 3em;
  		border: 5px solid #00B2A6;
  		background-color: white;
  	}
  	.contaiter__header {
  		text-align: center;
  		padding-bottom: 20px;
  		height: 40px;
  		margin-bottom: 10px;
  		font-size: 18px;
  	}

  	.contaiter__data {
  		margin-top: 25PX;
  		padding: 20px 20px 20px 20px;
  		display: flex;
  		justify-content: space-between;
  	}

  	#swither {
  		background-color: transparent;
  		outline: none;
  		padding:10px 25px 10px 25px;
  		margin: 5px;
  		font-size: 16px;
  		color: #00B2A6;
  		border-radius: 20px;
  		border: 5px solid #00B2A6;
  	}

  	#swither:active {
  		background-color: #00B2A6;
  		color: white;
  	}


  	.review {
  		width: auto;
  		height: 709px;
  		background-color: #00B2A6;
  		margin: 2em 0em 2em 0em;
  	}	

  </style>
</head>
<body>
	
	<p><button id='swither'>курсы</button><button id='swither'> мастер-класс</button></p>

	<div class="wrapper">
		<% data.hobbies.forEach(function(item){ %>
			
		<div class="contaiter">		
			<div class="img-temp">
				<div class="icon"></div>
			</div>	
			<div class="contaiter__header"><%= item %></div>

			<div class="contaiter__data">
			<% data.master.forEach(function(item1){ %>
				<span ><%= item1 %></span>
			<%})%>
			<span >16 мест</span>
			</div>
		</div>
		<%})%>
	</div>


	<div class="review">
	</div>


</body>
</html>