@font-face {
    font-family: OpenSans-Light; /* Гарнитура шрифта */
    src: url(fonts/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
   }


body {
	background-color: white;
	color: #333;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 20px;
	margin: 0;
}

body::selection {
	background: rgba(0, 178, 166, 0.5);
}

input {
	outline: none;
}

ul {
	list-style: none;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: all 0.3s linear 0s;
}

h1{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
p {
	font-family: 'Open Sans', sans-serif;
}

span {
	font-family: 'Open Sans', sans-serif;
}

input {
	font-family: 'Open Sans', sans-serif;
}

button {
	font-family: 'Open Sans', sans-serif;
}
@media (min-width: 766px) {
	.area {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.area {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.area {
		width: 1140px;
	}
}

.area {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	margin-left: auto;
	margin-right: auto;
}

.navbar-component {
	background-color: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.navbar-component > .navbar {
	justify-content: space-between;
}

.navbar > .brand {
	display: block;
	font-size: 16px;
	color: #777;
	margin: 22px;
}

.navbar > .toggle {
	outline: none;
	border: 0;
	display: inline-block;
	background-color: transparent;
	background-image: none;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	touch-action: manipulation;
	user-select: none;
	padding: 22px;
}
@media (min-width: 768px) {
	.navbar > .toggle {
		display: none;
	}
}

.navbar > .toggle > .icon {
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
}

.navbar > .toggle > .icon,
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
	display: block;
	width: 24px;
	height: 3px;
	transition: background-color 0.3s linear, transform 0.3s linear;
	background-color: #555555;
}

.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
	position: absolute;
	content: "";
}

.navbar > .toggle > .icon:before {
top: -8px;
}
.navbar > .toggle > .icon:after {
top: 8px;
}
.navbar > .toggle.-active > .icon {
background-color: transparent;
}
.navbar > .toggle.-active > .icon:before {
transform: translateY(8px) rotate(45deg);
}
.navbar > .toggle.-active > .icon:after {
transform: translateY(-8px) rotate(-45deg);
}
.navbar > .list {
display: none;
flex-flow: row nowrap;
align-items: center;
white-space: nowrap;
}
@media (min-width: 768px) {
.navbar > .list {
display: flex;
}

}
@media (max-width: 768px) {
.navbar > .list {
position: fixed;
top: 64px;
left: 0;
width: 100%;
overflow-y: hidden;
overflow-x: auto;
border-top: 1px solid #dddddd;
background-color: #ffffff;
z-index: 1112;

//overflow: hidden
}


}
.navbar > .list.-on {
display: flex;
flex-direction:column;
}
.navbar > .list > .item {
display: block;
flex-shrink: 0;
height: 64px;
line-height: 64px;
padding-left: 22px;
padding-right: 22px;
text-transform: uppercase;
color: #555555;
font-size: 14px;
}
.navbar > .list > .item.-link {
line-height: 68px;
color: #555555;
border-bottom: 4px solid transparent;
}
.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
color: #333333;
border-bottom-color: #5fc180;
}


.footer-component {
background-color: #17342f;
}

.footer {
justify-content: space-between;

}

.footer-component > .footer {
justify-content: space-between
}
.footer-item {
color: white;
line-height: 60px;
}

.footer-input {
line-height: 10px;
background-color: #5fc180;
border: none;
opacity: initial;
border-radius: 50pc;
margin: 12px;
outline: none;
}

.footer > .footer-left {

display: flex;
color: #777;
margin: 0;
}

.flex-container-reviews {
overflow: hidden;
display: flex;
position: relative;
padding: 20px;
margin-left: 100px;
margin-right: 100px;
border-radius: 3px;
margin-top: 10px;
z-index: 1111;
background: #fff;
box-shadow: 0px 5px 15px #9b9b9b;
}

.flex-wrapper-reviews {
//font-family: OpenSans-Light;
padding: 15px;
border: 1px solid #FFF;

}

.flex-wrapper-reviews span {
//font-family: OpenSans-LightItalic;
display: flex;
justify-content: flex-end;
 
}

.flex-item-reviews p {

}

.wrapper {
	//padding: 100px;
	border-radius: 3px;
	//margin-bottom: 150px;
}

.mess--button{
	background-color: #00B2A6;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 15px;
}

.flex-wrapper-reviews img {
	border-radius: 100px;
	border: 5px solid #5FC180;
	width: 120px;
	height: 120px;
}


.footer-input{
	display: flex;
	height: 35px;
	padding: 0.5em;
}

.footer-input input[type="mail"]{
	margin-left: 10px;
	background-color: transparent;
	text-decoration: none;
	color: white;
	opacity: none;
	border: none;
	cursor: pointer;
}

.footer-input input[type="submit"] {
border:none;
color: white;
//margin: 15px;
opacity: none;
background-color: transparent;
}
#parallelogram {
position: absolute;
width: 100%; 
height: 300px;
background: slategray;
transform: skewY(-1.5deg);
background-color: #5FC180;
z-index:1;
}

#background-reviews {

position: absolute;
width: 100%; 
height: 300px;
background: slategray;
transform: skewY(-2deg);
background-color: #17342F;

}

.toTop_ {
top: 5px;
}

.temp-img { margin: 15px; background-color: red; width: 30px;height: 30px; }
.temp-ava { border-radius: 100px;border: 5px solid #5FC180;width: 120px;height: 120px; background-color: red;}
.banner { margin-bottom: 50px;height: 400px;width: 100%; }
@media only screen and (min-device-width : 360px) and (max-device-width : 667px) {

	#parallelogram, #background-reviews {
		height: 750px;
	}

	.flex-container-reviews{
		margin-right: 0px;
		margin-left: 0px;
		border-radius: 0px;
	}
	.footer-component > .footer {
		display: flex;
		flex-wrap: column;
	}

	.footer-item {margin: auto;margin-top:-15px; }
	.footer-input input[type="mail"] {width: 85%;}
	.footer-input {width: 100%;}

	.footer > .footer-left {display: none;}

	img {
		display: none;
	}

	.navbar-componetn { 
		margin-bottom: 40px; 
	}
}


.banner {
	height: 100%
	width: 100%;
	background-image: url(/img/art.png);
}

.banner--filter {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 178, 166, 0.11);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner--filter__text {
	margin-top: 14em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.banner--filter__text-wrapper {
	background-color: rgba(0, 178, 166, 0.6);
	border-radius: 10px;
	height: 40px;
	margin: .9em;
	width: 260px;
}

.banner--filter__text-wrapper span {
	color: white;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-word {
	background-color: rgba(0, 178, 166, 1);
}

.size-small {
	font-size: 18px !important;
}

.icon--list h1 {
	display: flex;
	justify-content: center;
	margin-bottom: -20px; 
}

.icon--list__ {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.icon--list__ div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;
}

.first img {
	margin-bottom: 20px; 
}

.first span {
	width: 200px;
	text-align: center;
	text-transform: uppercase;
}

.second img {
	margin-bottom: 20px; 
}

.second span {
	width: 200px;
	text-align: center;
	text-transform: uppercase;
}

.third img {
	margin-bottom: 20px; 
}

.third span {
	width: 200px;
	text-align: center;
	text-transform: uppercase;
}

.four img {
	margin-bottom: 20px; 
}

.four span {
	width: 200px;
	text-align: center;
	text-transform: uppercase;
}

.new--rewievs {
	min-height: 400px;
	background-color: rgba(0, 178, 166, 1);
	background-image: url(/img/pattern-01.png);
}

.new--rewievs__flex {
	min-height: 400px;
	width: auto;
	
	background-image: url(/icons/pattern-01.png);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	//background-image: url(/img/art.png);
}
.new--rewievs__flex-box {
	margin: 50px;
	max-width: 1110px;
	height: auto;
	width: 80%;
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
}

.pattern {
	background-image: url(/icons/pattern-01.png);
	position: absolute;
}

.stage {
	margin: 50px; 
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.stage--text {
	height: 176px;
	width: 250px;
	margin-right: 60px;
	border-radius: 6PX;
	color: #fff;
	padding: 30px; 	
	background:rgba(0, 178, 166, 1);
}

.stage--first {
	margin: 20PX;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}


.stage--second {
	margin: 20PX;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.stage--third { 
	margin: 20PX;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.stage--fourd {
	margin: 20PX;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.price--list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.price--list h5 {
	display: flex;
	text-align: center;
	justify-content: center;
}

.price--list__wrapper {
	display: flex;
	justify-content: row;
}

.price--list__left-block {
	border: 2px solid rgba(0, 178, 166, 1);
	border-radius: 4px;
	padding: 30px;
	margin: 20px;
	min-width: 250px; 
}

.price--list__right-block {
	border: 2px solid rgba(0, 178, 166, 1);
	border-radius: 4px;
	padding: 30px;
	margin: 20px;
}

.little--banner {
	max-height: 200px !important;
	width: auto;
	background: rgba(0, 178, 166, 1);

}

.pattern--banner {
	max-height: 200px !important;
	background-image: url(/icons/pattern-01.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.pattern--banner h3 {
	color: #fff;
}

.contaiter {
	margin: 25px;
	width: 278px;
	border-radius: 20px;
	background-color: #E9F5F1;
	color: #393B3B;
}

.img--temp {
	height: 200px;
	width: 278px;
	background: url(/img/cal.jpg);
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 1em;
	display: flex;
	align-items: center;	
	justify-content: center;
}

.icon {
	width: 120px;
	height: 120px;
	border-radius: 100px;
	margin: 3em;
	border: 5px solid #00B2A6;
	background-color: white;
}
.contaiter__header {
	font-family: Open Sans, 'sans-serif';
	text-align: center;
	padding-bottom: 20px;
	height: 40px;
	margin-bottom: 10px;
	font-size: 18px;
}

.contaiter__data {
	margin-top: 25PX;
	padding: 20px 20px 20px 20px;
	display: flex;
	justify-content: space-between;
}

#swither {
	background-color: transparent;
	outline: none;
	padding:10px 25px 10px 25px;
	margin: 5px;
	font-size: 16px;
	color: #00B2A6;
	border-radius: 20px;
	border: 1px solid #00B2A6;
}

#swither:active {
	background-color: #00B2A6;
	color: white;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

.review {
	width: auto;
	height: 709px;
	background-color: #00B2A6;
	margin: 2em 0em 2em 0em;
}	

.wrapper--center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.need--more {
	color: white;
	padding: 10px 15px 10px 15px;
	border: #00B2A6;
	outline: hidden;
	font-size: 16px;
	border-radius: 6px;
	background-color: #00B2A6;
}


.wrapper--box_price {
	margin: 30px;
	width: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 40px 10px 40px;
    border: 2px solid #00B2A6;
    border-radius: 4px;
}

.wrapper--box_price p {
	color: #00B2A6;
	font-size: 30px;
}

.something--annamed {
	height: 300px; 
	background-image: url(/img/4.png);
	border: none;
	display: flex;
    flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.something--annamed input {
	margin: 5px;
	width: 500px;
	border: none;
	margin-right: 150px;
}

.something--annamed input[type='text'] {
	height: 30px;
	padding: 15px;
	}

.something--annamed input[type='submit'] {
	height: 34px;
	width: auto;
	cursor: pointer;
	padding: 5px 40px 5px 40px;
	border-radius: 5px;
	background-color: #00B2A6;
	color: white;
	text-transform: uppercase;
}

.block {
    width: 1000px;
    height: 252px;
    padding: 50px;
    background:#E9F5F1;
    min-height: 100px;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 10px 10px 10px 40px;
}

.block p {
  margin: 0px 0px 10px 0px; 
  font-size: 20px; 
  text-transform: uppercase;
}

.block input {
  background-color :#fff;
  color: #00857C;
  border: none;
  height: 50px;
  outline: none;
}

.block input[type='mail'] {
	border-radius: 20px;
	font-size: 18px;
}

.block input[type='submit'] {
	width: 130px;
	border-radius: 20px;
	padding: 10px 10px 30px 10px;
	color: #fff;  
	
    margin: 10px 0px 10px 0px;
	text-transform: uppercase;
	background-color: rgba(0, 178, 166, 1);
}

.block span.triangle {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 244px; right: 200px;
    border-bottom: 70px solid #E9F5F1;
    border-left: 59px solid transparent;
    transform: rotate(270deg);
}

.message {
	margin-top: 50px;
    height: 400px ;
    background-color: rgba(0, 178, 166, 1);
}

.message--pattern {
	height: 400px;
    width: auto;
    background-image: url(/icons/pattern-01.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}