

html, body {
  height: 100%;
  overflow: hidden;
  font-family: helvetica;
}

body {
	background: linear-gradient(65deg, #292929 30%, #262626 100%) ;
	font-family: verdana;
	color: #fff;
	padding: 30px;
}

h1 {
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

p {
	font-size: 16px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #B28A24;
	border-bottom: 1px solid #B28A24;
}

a:hover {
	border-bottom: 1px dotted #B28A24;
}

div {
	    transition: all 0.3s linear 0s;
}
.modal {
	display: none;
	margin: auto;
	padding: 15px;
	//border: 2px solid #B28A24;
	border-left-color: #B28A24;
	border-bottom-color: #5fc180;
	border-radius: 3px;
	background-color: rgba(39,29,53, 0.4);
	order: initial;
	min-width: auto;
	max-width: 400px;
	transition: all 0.3s linear 0s;
}

.-active {
	display: flex;
	justify-content: center;
	text-align: center;
	transition: all 0.3s linear 0s;
}

.button-master {
	border: 2px solid #B28A24;
	color: #B28A24;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px; 
	border-radius: 40px;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	body { 
		height: 100%;
	}
}





